MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_USER=maju_jaya
MYSQL_PASSWORD=secret
MYSQL_DATABASE=maju_jaya_dw
DAGSTER_MYSQL_DATABASE=dagster_internal
CSV_INPUT_DIR=data/input
CSV_ARCHIVE_DIR=data/archive
DAGSTER_HOME=/opt/dagster/dagster_home
